<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Корзина</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
</head>
<body>
<header>
  <h1>Sanitary Ware - Корзина</h1>
  <nav>
    <ul>
      <li><a href="/" th:href="@{/}">Главная</a></li>
      <li><a href="/products/list" th:href="@{/products/list}">Каталог товаров</a></li>
      <li><a href="/cart" th:href="@{/cart}">Корзина</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>Корзина</h2>
  <div th:if="${cart.isEmpty()}">
    <p>Ваша корзина пуста.</p>
  </div>
  <div th:if="${!cart.isEmpty()}">
    <table>
      <thead>
      <tr>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Сумма</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${cart}">
        <td th:text="${item.product.name}">Название товара</td>
        <td th:text="${item.quantity}">1</td>
        <td th:text="${item.product.price}">0.00</td>
        <td th:text="${#numbers.formatDecimal(item.product.price * item.quantity, 2, 2)}">0.00</td>
        <td><a th:href="@{/cart/remove/{id}(id=${item.id})}">Удалить</a></td>
      </tr>
      </tbody>
    </table>
    <p>Итого: <span th:text="${totalPrice}">0.00</span> руб.</p>
    <a href="/order" th:href="@{/order}">Оформить заказ</a>
  </div>
</main>
</body>
</html>
